@using System.Security.Claims
@model IEnumerable<ReversiMvcApp.Models.Spel>

@{
    ViewData["Title"] = "Kies een open spel om aan deel te nemen!";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ClaimsPrincipal currentUser = this.User;
    var currentUserId = currentUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<h1>Je bent ingelogd!</h1>
<p class="text-black-50">Hier zie je al jouw openstaande en gespeelde spellen. Ga naar "spellen" om deel te nemen aan een nieuw spel of om een spel aan te maken.</p>
<p>
    <a asp-controller="Spel" asp-action="Create">Nieuw Spel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                Beurt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>

            <td>
                @if (item.aanDeBeurt == 0)
                {
                    @:Wachten
                }
                else
                {
                    @if (item.beurt == currentUserId)
                    {
                        @:Jouw
                    }
                    else
                    {
                        @:Hun
                    }
                }
            </td>
             <td style="width: 200px">
                 @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                 <a class="btn btn-info" asp-controller="Spel" asp-action="Join" asp-route-id="@item.Token">Join spel</a>
             </td>
        </tr>
        
        }
    </tbody>
</table>